<div class="container-fluid login gridWidthFull px-0 pt-4">
  <div class="p-grid gridWidthFull">
    <div class="p-md-offset-4 p-lg-offset-4 p-lg-4 p-md-4 p-col-12 cardClass">
      <div class="p-grid my-4">
        <div class="p-lg-12 p-md-12 p-col-12">
          <div class="formField mt-3">
            <div class="p-field">
              <label for="userName" class="labelClass">USER NAME</label>
              <InputText type="email" class="inputfieldClass"
                v-model="email" name="User Name" v-validate="'required|email'"
                :class="{ 'is-invalid': submitted && errors.has('User Name') }" />
              <div v-if="submitted && errors.has('User Name')" class="invalid-feedback">
                {{ errors.first('User Name') }}</div>
            </div>
            <div class="p-field mb-2">
              <div class="gridWidth gridWidthFull p-input-icon-right">
                <label for="password" class="labelClass">PASSWORD</label>
                <InputText :type="createPasswordSwitch"
                  class="inputfieldClass" v-model="password" name="Password" v-validate="'required'"
                  :class="{ 'is-invalid': submitted && errors.has('Password') }" />
                <i class="pi pi-eye-slash" v-if="createPasswordSwitch == 'password'" @click="switchPasswordType()" />
                <i class="pi pi-eye" v-if="createPasswordSwitch == 'text'" @click="switchPasswordType()" />
              </div>
              <div v-if="submitted && errors.has('Password')" class="invalid-feedback">
                {{ errors.first('Password') }}</div>
            </div>
          </div>
          <div class="loginbtn my-4">
            <Button type="button" label="LOGIN" @click="login()"/>
          </div>
          <div class="outLineJoinBtn mt-2 mb-4">
            <!-- <span class="txtClass">Already have an account?</span><span class="pl-2 cursor linkClass" @click="$router.push('/register')"><a>Sign in</a></span> -->
          </div>
          <div class="outLineJoinBtn mb-4">
            <span class="cursor linkClass" @click="$router.push('/register')"><a>Sign Up</a></span>
            <span class="cursor linkClass" style="float: right;" @click="$router.push('/forgetpsw')"><a>Forgot Password</a></span>

          </div>
        </div>
      </div>
    </div>
    <div class="p-lg-4 p-md-4">
    </div>
  </div>
</div>
